.g-custom-text p{
    text-align: center;
}

.g-custom-img-auto img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:50%;
    height:auto;
}

.g-custom-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    padding-right: 5%;
    padding-left: 5%;
}

p{
    color: #6FC3DF;
}

.header-custom{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.video-container{
    padding: 30px;
}

#model-airport-rc {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100px;
}

#auth-container-custom{
    display: grid;
    grid-gap: 20px;
    padding: 10px;
}

.copyright-custom{
    font-size: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}

:root {
    --mdc-theme-primary: #6FC3DF;
    /*
    --mdc-theme-secondary: #6FC3DF;
    --mdc-theme-on-primary: #6FC3DF;
    --mdc-theme-on-secondary: #6FC3DF;
    --mdc-theme-background: #6FC3DF;
    --mdc-theme-surface: #6FC3DF;
    --mdc-theme-text-primary-on-light: #6FC3DF;
    --mdc-theme-text-primary-on-dark: #6FC3DF;
    --mdc-theme-text-secondary-on-light: #6FC3DF;
    --mdc-theme-text-secondary-on-dark: #6FC3DF;
    --mdc-theme-text-hint-on-light: #6FC3DF;
    --mdc-theme-text-hint-on-dark: #6FC3DF;
    --mdc-theme-text-disabled-on-light: #6FC3DF;
    --mdc-theme-text-disabled-on-dark: #6FC3DF;
    --mdc-theme-text-icon-on-light: #6FC3DF;
    --mdc-theme-text-icon-on-dark: #6FC3DF;
   */
}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label{
    color: #6FC3DF;
}

.mdc-tab .mdc-tab__text-label{
    color: #6FC3DF;
}

html{
    background-color: #0C141F;
}